<h1>Hello
    <i>
    {% if first_name %}
        {{ first_name }}
    {% else %}
        {{ email }}
    {% endif %}
    </i>!</h1>
<p>Someone has requested a link to change your password, and you can do this through the link below.
    <u>{{ email }}</u></p>
<a href="http://{{domain}}/#/password_recovery/{{token}}">Update your password</a>
<p>If you did not request this, please ignore this email.
Your password will not change until you access the link above and create a new one.</p>
<p>You have {{time_left}} minutes left to confirm</p>
